

.viewport {
    position: relative;
    background-color: #eeeeee;
    width: 40em;
    height: 40em;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    /*overflow: hidden;*/
}

.vitruvian-container {
    display: block;
    box-sizing: border-box;
    position: relative;
    /* square is 82.8% diameter of circle.
       sub elements are 35% of the containing square.
       which is 0.35*82.8 = 28.98% of previous container
     */
    left: 82.8%;
    top: calc(-30%/2); /* center of square's top right corner */

    width: 30%;
    height: 30%;
    border-radius: 50%; /*this is so the hover is only triggered in the circle */

    transition-property: width, height, left, top, opacity;
    transition-duration: 1.0s;
}


#logo-base > .vitruvian-container:hover,
.logo-check:checked + .vitruvian-container > div > div > .vitruvian-container
{
    cursor: pointer;
}

/* animate zooming in of sublevels */
/* https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css */
#logo-base > .logo-check:checked + .vitruvian-container,
.logo-check:checked + .vitruvian-container > div > div > .logo-check:checked + .vitruvian-container:not(.final) {
    width: calc(100%/0.828 + 4px); /* +4 is for the border width, this gets us back to full size */
    height: calc(100%/0.828 + 4px);
    /* (1-0.828)/0.828  distance between top of square and top of circle, as a % of the square height*/
    /* -2px for border */
    top: calc(-20.773% - 2px);
    left: calc(-10.386% - 2px);
    opacity: 1.0;
}

/*.vitruvian-container:hover:not(.final) {*/

.vitruvian-circle {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    border: 2px solid #000000;
    border-radius: 50%;
}

.vitruvian-square {
    position: relative;
    top: calc(17.2% - 2px);
    margin: 0 auto;

    width: 82.8%;
    height: 82.8%;

    border: 2px solid #000000;
}


/* recursive opacity for each level beyond second from current hovered (zoomed) level */
/* i.e. don't reduce opacity of the current level, and the next level, but all others */
.logo-check:not(:checked) + .vitruvian-container div div .vitruvian-container {
    opacity: 0.5;
}

/*don't display beyond 3rd level of unchecked-- is this faster/better?*/
.logo-check:not(:checked) + .vitruvian-container .vitruvian-container .vitruvian-container .vitruvian-container {
    display: none;
}

/*the fat 2px border makes the last visible element look funny */
.logo-check:not(:checked) + .vitruvian-container .vitruvian-container .vitruvian-container div {
    border-width: 1px
}

.vitruvian-img {
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    clip-path: url('#clip');
}

/* https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css */
/* this element is just so we can use the :checked property to fake click events. */
input.logo-check {
    display: none;
}
